---
layout: default
title: Aracely's Daycare
---

{% include sections/offer.html offer-text="<strong>After 42 wonderful years, Aracely's Daycare will be closing it's doors October 31, 2026.  Thank you for all the wonderful memories!</strong><span class=\"thin\"></span>" button-text="Apply Now" %}

{% include sections/about.html %}

{% include sections/features.html %}

{% include sections/portfolio.html %}

{% comment %}
 include sections/parallax-features.html
{% endcomment %}

{% include sections/offer.html offer-text="<strong></strong><span class=\"thin\"></span>" button-text="Apply Now" %}

{% include sections/testimonials.html %}

{% comment %}
 include sections/blog.html %}
{% endcomment %}

{% include sections/team.html %}

{% comment %}
include sections/prices.html
{% endcomment %}

{% include sections/contact.html %}