---
layout: default
title: Sera - OnePage Multi-Purpose Theme
---


{% include sections/offer.html offer-text="<strong>Open Enrollment is now available!</strong><span class=\"thin\"></span>" button-text="Apply Now" %}

{% include sections/about.html %}

{% include sections/features.html %}

{% include sections/portfolio.html %}

{% comment %}
 include sections/parallax-features.html
{% endcomment %}

{% include sections/offer.html offer-text="<strong>Open Enrollment is now available!</strong><span class=\"thin\"></span>" button-text="Apply Now" %}

{% include sections/testimonials.html %}

{% comment %}
 include sections/blog.html %}
{% endcomment %}

{% include sections/team.html %}

{% include sections/offer.html offer-text="<strong>Open Enrollment is now available!</strong><span class=\"thin\"></span>" button-text="Apply Now" %}

{% comment %}
include sections/prices.html
{% endcomment %}

{% include sections/contact.html %}

